@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "colorpallete.css";
@import "style.css";

@media (min-width: 500px) {
  #container {
    background-position: center 20%;
  }

  a#random {
    top: -10%;
    height: 12%;
  }

  .button {
    width: 420px;
    height: 50px;
    margin: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--randomtab);
    color: var(--background2);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
  }

  .button:active {
    width: 410px;
    height: 48px;
    font-size: 17px;
    box-shadow: inset 0px 0px 2px black;
  }

  #movieCover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }

  #movie {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    color: var(--movieTitle);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20%
    100%;
  background: linear-gradient(var(--randomtab) 0 0) left/0% 100% no-repeat
    var(--listtab);
  animation: none;
  display: none;
}

@keyframes l17 {
  100% {
    background-size: 120% 100%;
  }
}

.content {
  display: none;
}

@media (max-width: 500px) {
  a#random > p {
    z-index: 7;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .button {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    width: 310px;
    height: 50px;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--randomtab);
    color: var(--background2);
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 800;
  }

  .button:active {
    box-shadow: inset 0px 0px 4px black;
    font-size: 1.17em;
  }

  #movieCover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  #movie {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 70%;
    transform: translate(-50%);
    font-size: 1.22em;
    color: var(--movieTitle);
  }
}
